[submodule "ext/cyCodeBase"]
	path = ext/cyCodeBase
	url = https://github.com/cemyuksel/cyCodeBase/
[submodule "ext/args"]
	path = ext/args
	url = https://github.com/Taywee/args
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/happly"]
	path = ext/happly
	url = https://github.com/nmwsharp/happly
[submodule "ext/nanoflann"]
	path = ext/nanoflann
	url = https://github.com/jlblancoc/nanoflann
[submodule "ext/alembic"]
	path = ext/alembic
	url = https://github.com/alembic/alembic
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/libigl"]
	path = ext/libigl
	url = https://github.com/libigl/libigl
[submodule "ext/xlnt"]
	path = ext/xlnt
	url = https://github.com/xlnt-community/xlnt
[submodule "ext/HighFive"]
	path = ext/HighFive
	url = https://github.com/BlueBrain/HighFive
[submodule "ext/hdf5"]
	path = ext/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "ext/libnpy"]
	path = ext/libnpy
	url = https://github.com/llohse/libnpy
