# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
test/data/Bangs_100_20.ply
test/data/Bangs_100_indices_0_4_32_36_65.ply
test/data/Bangs_100_resampled.ply
test/data/Bangs_100_tfm_*.ply
test/data/Bangs_20_decomposed_ply
.vscode/
