# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.DS_Store

build/
temp*
test/data/autofix_test*.ply
test/data/Bangs_100_20.ply
test/data/Bangs_100_cvtr.hdf5
test/data/Bangs_100_filtered_length_geq_174.96289*
test/data/Bangs_100_indices_0_4_32_36_65.ply
test/data/Bangs_100_indices_10.ply
test/data/Bangs_100_resampled_tsl_2*.ply
test/data/Bangs_100_smoothed_λ_1.*
test/data/Bangs_100_stats.xlsx
test/data/Bangs_100_tfm_*.ply
test/data/Bangs_100_tube.ply
test/data/Bangs_20_decomposed_ply
test/data/Bangs_20_decomposed_data
test/data/catmull_rom_test*_resampled*
test/data/c2_interp_test*_resampled*
test/data/out/
.vscode/
