name: Build and Test

on: [push, pull_request]

permissions:
  contents: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: sudo apt update && sudo apt install libhdf5-dev libimath-dev

    - name: Checkout the repository
      uses: actions/checkout@v4.1.1

    - name: Checkout submodules
      run: git submodule update --init --recursive

    - name: Configure the project
      uses: threeal/cmake-action@v1.3.0

    - name: Build the project
      run: cmake --build build

    - name: Test the project
      run: ctest --test-dir build

    - name: Package binary
      run: |
        mkdir -p dist
        cp build/hairutil dist/
        cd dist
        zip "hairutil-linux-amd64-latest.zip" hairutil

    - name: Upload to continuous release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/hairutil-linux-amd64-latest.zip
        asset_name: hairutil-linux-amd64-latest.zip
        tag: continuous
        release_name: Continuous build
        overwrite: true
