name: Build and Test

on: [push, pull_request]

permissions:
  contents: write

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-24.04]
    env:
      DIST_NAME: hairutil-linux-amd64-${{ matrix.os }}

    steps:
    - name: Install dependencies
      run: sudo apt update && sudo apt install libhdf5-dev libimath-dev

    - name: Checkout the repository
      uses: actions/checkout@v4.1.1

    - name: Checkout submodules
      run: git submodule update --init --recursive

    - name: Configure the project
      uses: threeal/cmake-action@v1.3.0

    - name: Build the project
      run: cmake --build build

    - name: Test the project
      run: ctest --test-dir build

    - name: Package binary
      run: |
        mkdir -p dist
        cp build/hairutil dist/
        cd dist
        zip "${DIST_NAME}.zip" hairutil

    - name: Upload to continuous release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/${{ env.DIST_NAME }}.zip
        asset_name: ${{ env.DIST_NAME }}.zip
        tag: continuous
        release_name: Continuous build
        overwrite: true
